/*Slider*/

.carousel-inner {
    height: 100vh;
}
.carousel-item{
    height: 100vh;
}
.carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Columns*/

.card-img img {
    width:  100%;
    height: 300px;
    object-fit: cover;
}

.columns img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.columns h5 {
    text-align: center;
    color: white;
}
/*Footer*/

.black {
    color: black
}

.none {
    border:none
}

.background {
    background-color: #eff2f5;
}

.background-second {
    background-color: #B0C4DE;
}

.footer{
    padding-top: 20px;
}
